@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.cta_button {

    transition-duration: 0.15s;
    transition-property: background-color, color, border;


    cursor: pointer;
    padding: 8px 16px;
    color: var(--indigo);

    border: 1px solid var(--indigo);
    border-radius: 14px;
    background-color: transparent;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.cta_button:hover {

    border: 1px solid var(--ctaAccent);
    background-color: var(--ctaAccent);
    color: var(--main-bg-color);
}

.cta_button.--accented {
    color: var(--main-bg-color);
    border: none;
    background-color: var(--ctaAccent);
}