@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&@800&display=swap');

:root {
    --main-bg-color: #F9F9F9;
    --indigo: #132644;
    --ctaAccent: #F7863C;
    --gray: #F1F1F1;
    --darkerGray: #BDBDBD;
    --bodyPadding: 100px;
    --maxBodyWidth: 1920px;
    --sideNavbarWidth: 300px;

}

* {
    -webkit-user-drag: none;
    box-sizing: border-box;
    margin: 0;
    color: var(--indigo);
}



h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 48px;

    line-height: 50px;
}

p {
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
}

h6 {
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}




@media (max-width: 900px) {
    :root {
        --bodyPadding: 50px;
    }

    h1 {
        font-size: 36px;

        line-height: 36px;
    }

    p,
    h6 {
        font-size: 22px;

    }
}


@media (max-width: 500px) {
    :root {
        --bodyPadding: 28px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
    }

    p,
    h6 {
        font-size: 18px;

    }
}