.projectCard {
    padding: 15px 24px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-shadow: 0px -4px 45px rgba(22, 22, 22, 0.055);
    border-radius: 14px;
    background-color: #F7863C;
    width: 300px;
    gap: 10px;
    align-items: flex-start;
}

.projectCard__thumbnail {

    width: 37px;
}

.projectCard__budget,
.projectCard__deadline {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
}

.projectCard button {
    width: 100%;
    align-self: center;
}

a {
    text-decoration: none;
}

.projectCard.new {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px dashed #132644;
    filter: drop-shadow(0px -11px 45px rgba(22, 22, 22, 0.1));
    border-radius: 14px;
}