html,
body {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;

}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 70px var(--bodyPadding);
    padding-left: calc(var(--bodyPadding) + var(--sideNavbarWidth));
    height: fit-content;
}

#dashboard__vacancies {
    flex-shrink: 0;
    padding: 40px 0;
    overflow-x: auto;
    display: flex;
    gap: 32px;
}


.dashboard_me {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 15px;
    column-gap: 30px;
    row-gap: 100px;

}

.dashboard_me__projects {

    flex-grow: 1;
    min-width: 250px;

}

.dashboard_me__projects>div {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;

    background: #FFFFFF;
    border-radius: 14px;
    overflow: hidden;
}

.dashboard_me__projects__nav {
    display: flex;
    justify-content: space-around;

}

.dashboard_me__projects__nav>button {
    flex-grow: 1;
    padding: 10px 0;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid #E0E0E0;
    font-family: 'Barlow';
    color: var(--indigo);
    font-size: 18px;
}

.dashboard_me__projects__nav>button:hover {
    background-color: rgb(236, 236, 236);
}

.dashboard_me__projects__nav>button.selected {

    border-bottom: 3px solid var(--ctaAccent);

}

#dashboard_me__projects__container {
    width: 100%;
    gap: 1px;
    display: flex;
    flex-direction: column;
    background-color: #E0E0E0;

}


.dashboard_me__stats {

    height: fit-content;
}

.dashboard_me__stats>div {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;

}

.dashboard_me__stats__statCard {
    padding: 26px 18px;
    width: 150px;
    background: #FFFFFF;
    border-radius: 14px;
}


.dashboard_new__projects__nav>a{
    width:fit-content; 

}